$articleBackColor : #FFFF;

.articlePage {
  margin: 0 auto;
  width: 938px;
  text-align: start;
  background-color: $articleBackColor;

  padding: 15px 16px 24px 15px;

  &__body{
    margin-top: 25px;
  }
}