$headerBackgroundColor : #FFFF;

.header {
  display: flex;
  background-color: $headerBackgroundColor;
  padding: 6px 22px;
  font-size: 18px;
  box-sizing: border-box;
  height: 80px;
  align-items: center;
  
  margin-bottom: 26px;

  &__title {
    font-weight: 400;
    font-size: 18px;
  }

  & a {
    text-decoration: none;
    
    &:link {
      color: black;
    }
    &:visited {
      color: black;
    }

    &:nth-child(2){
      margin-left: auto;
    }
  }

}
